.container { 
  flex: 1;
  background: #045174
  }
  .centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
.Card {
  background: #e87a00; 
  display: flex;
  justify-content: center;
  height: 65vh;  
  width: 70%;
  border-radius: 20px;
}