.container {
  flex: 1;
  background: linear-gradient(to bottom, #045174, #034871, #031a37);
}
  .centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .card {
  background: #e87a00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 70%;
  border-radius: 20px;
  box-shadow: 0 16px 16px rgba(40, 28, 28, 0.555);
}
.newGameButton {
  display: flex;
  justify-content: center;
  margin-top: 12vh
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}